@import 'tailwindcss';
@import './components.css';
@import './theme.css';
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@layer base {
  html {
    color-scheme: light dark;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    @apply antialiased;
  }

  html,
  body {
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    @apply hover:text-[var(--color-primary)] transition-colors duration-200;
  }

  button {
    @apply cursor-pointer bg-none border-none;
    box-shadow: (var(--shadow));
    font: inherit;
    color: inherit;
  }
  h2 {
    font-family: 'Cafe24Ssurround';
    @apply text-4xl md:text-5xl mb-10;
  }
  h3 {
    @apply font-extrabold text-3xl md:text-3xl mb-3;
  }
  p {
    @apply text-base md:text-lg leading-relaxed font-bold;
  }
}
