:root {
  --color-bg: #f8f9fa;
  --color-sub-bg: #f3f4f6;
  --color-bg-hover: rgba(0, 0, 0, 0.05);
  --color-btn-bg:#F8F9FA;
  --color-text: #374151;
  --color-primary: #7C83FD;
  //F5A623: 주황, 7C83FD 퍼플

  --color-modal-bg: #ffffff;

  --color-accent: #6b7280;

  --color-button-bg: #e5e7eb;
  --color-button-text: #374151;

  --color-post-bg: #f8f9fa;
  --color-skeleton: #e5e7eb;

  --color-dropdown-bg: #f8f9fa;

  --color-tag-default-bg: #d1d5db;
  --color-tag-default-text: #374151;

  --color-tag-gray-bg: #e5e7eb;
  --color-tag-gray-text: #1f2937;

  --color-tag-brown-bg: #fde68a;
  --color-tag-brown-text: #78350f;

  --color-tag-orange-bg: #fdba74;
  --color-tag-orange-text: #7c2d12;

  --color-tag-yellow-bg: #fef08a;
  --color-tag-yellow-text: #92400e;

  --color-tag-green-bg: #bbf7d0;
  --color-tag-green-text: #065f46;

  --color-tag-blue-bg: #bae6fd;
  --color-tag-blue-text: #075985;

  --color-tag-purple-bg: #ddd6fe;
  --color-tag-purple-text: #5b21b6;

  --color-tag-pink-bg: #fbcfe8;
  --color-tag-pink-text: #9d174d;

  --color-tag-red-bg: #fecaca;
  --color-tag-red-text: #991b1b;

  --shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.06);
}

html.dark {
  --color-bg: #13161c;
  --color-sub-bg: #292c31;
  --color-btn-bg:#4C5270;
  --color-bg-hover: rgba(255, 255, 255, 0.08);
  --color-text: #e2e8f0;

  --color-primary: #7C83FD;
  --color-modal-bg: #1e293b;
  --color-accent: #9ca3af;

  --color-button-bg: #374151;
  --color-button-text: #e5e7eb;

  --color-post-bg: #1e293b;
  --color-skeleton: #1f2937;
  --color-dropdown-bg: #2c2f36;

  --color-tag-default-bg: #4b5563;
  --color-tag-default-text: #f3f4f6;

  --color-tag-gray-bg: #6b7280;
  --color-tag-gray-text: #f9fafb;

  --color-tag-brown-bg: #78350f;
  --color-tag-brown-text: #fef9c3;

  --color-tag-orange-bg: #9a3412;
  --color-tag-orange-text: #ffedd5;

  --color-tag-yellow-bg: #ca8a04;
  --color-tag-yellow-text: #fef9c3;

  --color-tag-green-bg: #065f46;
  --color-tag-green-text: #d1fae5;

  --color-tag-blue-bg: #075985;
  --color-tag-blue-text: #e0f2fe;

  --color-tag-purple-bg: #5b21b6;
  --color-tag-purple-text: #ede9fe;

  --color-tag-pink-bg: #9d174d;
  --color-tag-pink-text: #fce7f3;

  --color-tag-red-bg: #991b1b;
  --color-tag-red-text: #fee2e2;

  --shadow: none;
}
